@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.otf"); }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat';
  background: #222328; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  width: 1170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto; }

.container-min {
  width: 1060px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto; }

p {
  font-size: 16px;
  line-height: 28px; }

ul {
  list-style: none; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.btn-default {
  height: 48px;
  width: 200px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a0060e;
  background: -webkit-gradient(linear, left top, right top, from(#dc6997), to(#a0060e));
  background: -webkit-linear-gradient(left, #dc6997 0%, #a0060e 100%);
  background: -o-linear-gradient(left, #dc6997 0%, #a0060e 100%);
  background: linear-gradient(to right, #dc6997 0%, #a0060e 100%); }

.text-block {
  display: block; }

.text-pink {
  color: #ca3a52; }

h1 {
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: normal;
  text-transform: uppercase;
  line-height: 70px;
  margin-bottom: 100px; }
  h1 span:after {
    content: '';
    width: 215px;
    height: 4px;
    background: #ca3a52;
    display: block;
    margin: 0 auto 0 auto; }

h2 {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  border-left: 4px solid #ca3a52;
  padding-left: 15px;
  margin-left: 170px; }

/*HEADER*/
.header {
  background: #222328 url("../img/bg1.png") no-repeat;
  background-position: top center;
  height: 100vh;
  padding-top: 60px; }

.top-link li:first-child {
  margin-right: 40px; }

.top-btn a:first-child {
  margin-right: 22px; }

.header-content {
  text-align: center;
  margin: 115px 0 0 0; }
  .header-content .note {
    line-height: 28px;
    margin-bottom: 35px;
    font-weight: 300; }

.btn-scroll-down {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

/*ABOUT*/
.about {
  background: #222328;
  padding: 40px 0 115px 0; }
  .about h2 {
    margin-bottom: 100px; }
  .about-left {
    margin-right: 80px; }
  .about-right span {
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: bold; }
  .about-right p {
    margin-top: 20px; }

/*SERVICES*/
.services {
  background: #222328;
  padding-bottom: 105px; }
  .services h2 {
    margin-bottom: 100px; }

.services-items {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .services-items-img {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .services-items p {
    font-weight: bold;
    font-family: 'Raleway';
    text-align: center;
    font-size: 20px; }

.services-bottom {
  margin-top: 90px; }
  .services-bottom li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .services-bottom li .number {
      font-size: 62px;
      font-weight: bold;
      margin-right: 20px; }
    .services-bottom li p {
      font-size: 14px;
      line-height: normal;
      text-transform: uppercase; }

/*HISTORY*/
.history {
  background: #fff;
  color: #222328;
  padding-top: 65px; }
  .history .container-min {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .history .h2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    .history .h2 h2 {
      color: #222328;
      font-family: 'Montserrat';
      font-weight: 400;
      margin-left: 0;
      width: 100%;
      padding-left: 30px;
      border: none; }
    .history .h2 .line {
      content: '';
      width: 6px;
      height: 190px;
      background: #ca3a52;
      display: inline-block; }
  .history-right {
    width: 100%; }
  .history-left {
    line-height: 0;
    min-width: 365px;
    position: relative; }
    .history-left img {
      position: absolute;
      bottom: 0; }

.steps {
  width: 100%; }
  .steps-text {
    max-width: 320px;
    width: 100%;
    margin-left: 160px; }
    .steps-text p {
      visibility: hidden;
      opacity: 0;
      font-size: 0;
      height: 0;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }
      .steps-text p.active {
        visibility: visible;
        opacity: 1;
        height: auto;
        font-size: 16px;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s; }
  .steps-line svg {
    padding-top: 100px;
    margin-left: -45px; }

.history-bottom {
  position: relative; }
  .history-bottom .quote {
    position: absolute;
    width: 460px;
    left: 310px; }

.quote {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  width: 100%; }

/*STEP SVG*/
.hover {
  cursor: pointer; }
  .hover circle {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .hover:hover circle {
    r: 30;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.text {
  display: none; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: transparent; }
  .draw.active {
    -webkit-animation: dash2 1s cubic-bezier(0, 0, 1, 1) forwards, fill 1s linear forwards 0.2s;
            animation: dash2 1s cubic-bezier(0, 0, 1, 1) forwards, fill 1s linear forwards 0.2s; }

@-webkit-keyframes dash2 {
  to {
    stroke-dashoffset: 100px; } }

@keyframes dash2 {
  to {
    stroke-dashoffset: 100px; } }

@-webkit-keyframes fill {
  to {
    fill: #000; } }

@keyframes fill {
  to {
    fill: #000; } }

.article-item {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  font-size: 0; }
  .article-item.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    font-size: 16px; }

/*PROGRAMS*/
.programs {
  background: #222328;
  padding-top: 110px; }
  .programs h2 {
    margin: 0 0 30px 170px; }
  .programs .quote {
    font-size: 14px;
    color: #fff;
    max-width: 750px;
    width: 100%;
    margin-left: 190px;
    margin-bottom: 50px; }

.programs-item li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px; }
  .programs-item li p {
    margin-left: 25px;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 20px; }

.programs-item-img {
  width: 80px;
  text-align: center; }

.programs-whome {
  margin-top: 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .programs-whome-left {
    width: 47%; }
    .programs-whome-left .whome-note {
      font-size: 24px;
      display: block; }
  .programs-whome-right {
    width: 47%; }

.programs-whome-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px; }
  .programs-whome-list li p {
    margin-left: 35px; }

.programs-plan {
  margin-top: 145px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 120px;
  position: relative; }

.plan-wrap {
  position: relative;
  width: 33.33%; }
  .plan-wrap .plan-item {
    background: #26272d;
    padding: 40px 40px 45px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: center; }
  .plan-wrap .btn-default {
    margin: 0 auto 30px auto; }
  .plan-wrap:hover .plan-item {
    position: absolute;
    -webkit-box-shadow: 0px 13px 65px 0px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 13px 65px 0px rgba(0, 0, 0, 0.33);
    z-index: 2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.plan-title {
  margin-top: 25px;
  margin-bottom: 20px; }
  .plan-title h3 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px; }

.plan-price p {
  font-size: 18px; }
  .plan-price p b {
    font-size: 26px;
    font-weight: 600; }

.plan-text {
  margin-bottom: 30px; }
  .plan-text p {
    height: 70px;
    overflow: hidden;
    line-height: normal;
    font-size: 13px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .plan-text p.open {
      height: auto;
      overflow: auto;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

.plan-more {
  color: #ededed;
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  justtify-content: space-between;
  display: inline-block; }
  .plan-more span {
    margin-right: 5px; }
  .plan-more.active object {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.plan-list {
  border: 3px solid #ca3a52;
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 3;
  color: #222328;
  font-size: 14px;
  padding: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none; }
  .plan-list.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.plan-list-column {
  width: 30%; }

.plan-list-item p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000; }

.plan-list-item ul {
  margin-bottom: 25px; }
  .plan-list-item ul li {
    margin-bottom: 15px; }

.step1.hide {
  color: #888888; }

.step2.show {
  color: #000; }

.step3.show {
  color: #000; }

/*HOW WORKS*/
.how-works {
  padding-bottom: 100px; }
  .how-works h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 60px; }

.how-works-list {
  text-align: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .how-works-list li {
    position: relative;
    width: 25%; }
    .how-works-list li:after {
      content: '';
      width: 50px;
      height: 4px;
      background: #fff;
      position: absolute;
      left: 100%;
      top: 28px;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
    .how-works-list li:last-child:after {
      display: none; }
  .how-works-list p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway';
    line-height: 36px;
    margin-top: 30px; }

/*YOU GET*/
.you-get {
  background: #fff;
  padding: 100px 0 90px 0; }
  .you-get h2 {
    margin-bottom: 75px;
    color: #222328; }
  .you-get .flex {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.you-get-list {
  padding-left: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .you-get-list li {
    color: #222328;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 70px; }
    .you-get-list li p {
      margin-left: 35px;
      font-family: 'Raleway';
      font-weight: 600; }

/*PHOTOS*/
.photos {
  background: #222328;
  padding: 140px 0 155px 0; }
  .photos .container {
    position: relative; }
  .photos-more {
    position: absolute;
    top: 310px;
    right: 0; }
    .photos-more p {
      margin-left: 20px; }
    .photos-more a {
      border-bottom: 1px solid #ca3a52; }

.photos-block {
  position: relative;
  height: 750px; }
  .photos-block li {
    position: absolute; }
    .photos-block li:nth-child(1) {
      top: 0;
      left: 100px;
      max-width: 203px;
      width: 100%; }
    .photos-block li:nth-child(2) {
      top: 150px;
      left: 50%;
      max-width: 333px;
      width: 100%;
      -webkit-transform: translate(-70%, 0);
          -ms-transform: translate(-70%, 0);
              transform: translate(-70%, 0); }
    .photos-block li:nth-child(3) {
      top: 0;
      right: 30px;
      max-width: 400px;
      width: 100%; }
    .photos-block li:nth-child(4) {
      top: 240px;
      left: 40px;
      max-width: 244px;
      width: 100%; }
    .photos-block li:nth-child(5) {
      top: 520px;
      left: 170px;
      max-width: 245px;
      width: 100%; }
    .photos-block li:nth-child(6) {
      top: 520px;
      right: 330px;
      max-width: 235px;
      width: 100%; }
    .photos-block li img {
      width: 100%; }

/*MODAL FORM*/
.submit[disabled="disabled"] {
  cursor: default; }

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 35, 40, 0.55);
  z-index: 10;
  display: none; }

.modal-form {
  background: #26272d;
  padding: 140px 95px 60px 95px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
  color: #fff; }
  .modal-form p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 65px;
    text-align: center; }
  .modal-form .input-block {
    width: 100%;
    margin-bottom: 60px; }
  .modal-form button {
    border: none;
    outline: none;
    color: #fff;
    margin: 0 auto 40px auto;
    cursor: pointer; }

.input-group {
  margin-left: 30px; }
  .input-group:first-child {
    margin-left: 0; }
  .input-group input {
    display: block;
    height: 42px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #808184;
    background: #50525f;
    width: 255px;
    outline: none;
    -webkit-box-sizing: boeder-box;
            box-sizing: boeder-box;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 300;
    color: #fff; }
  .input-group label {
    margin: 0 0 10px 5px;
    display: block; }

.check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .check input {
    display: none; }
    .check input:checked + label {
      background: url("../img/check2.png") no-repeat; }
  .check label {
    background: url("../img/check.png") no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer; }
  .check p {
    font-size: 12px;
    text-transform: none;
    margin-bottom: 0;
    margin-left: 20px; }
    .check p a {
      border-bottom: 1px solid #ca3a52; }

/*FOOTER*/
.footer {
  background: #26272d;
  padding: 25px 0 40px 0; }

.footer-contacts a {
  margin-left: 30px; }

.footer-right {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-right .develop {
    margin-right: 5px; }
    .footer-right .develop a span {
      text-decoration: underline; }

.footer-line:first-child {
  margin-bottom: 40px; }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .socials a {
    margin-left: 25px; }
    .socials a svg {
      cursor: pointer; }

.copy {
  font-size: 14px; }

.footer-link {
  font-size: 14px; }
  .footer-link a {
    margin-left: 22px; }

.steps-mobile {
  display: none;
  position: relative; }
  .steps-mobile .line {
    width: 4px;
    height: 800px;
    background: #000;
    margin-left: 35px; }

.mobile-svg {
  margin-left: -35px;
  width: 400px;
  height: 800px; }
  .mobile-svg .leave path {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }

.steps-text-m p {
  position: absolute;
  width: 255px; }
  .steps-text-m p:first-child {
    top: 265px;
    left: 55px; }
  .steps-text-m p:nth-child(2) {
    top: 500px;
    left: 55px; }
  .steps-text-m p:nth-child(3) {
    top: 750px;
    left: 55px; }

/*PAYMENTS*/
.payment {
  background: url("../img/p-bg.png") no-repeat;
  background-position: center top;
  padding-top: 70px; }
  .payment .modal-form {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 70px 95px 70px 95px; }
  .payment .top {
    margin: 0 auto 0 auto;
    text-align: center; }
    .payment .top .note {
      margin-top: 70px;
      margin-bottom: 50px;
      font-size: 18px;
      text-transform: uppercase; }

.form-bottom {
  margin-top: 30px; }
  .form-bottom p {
    font-size: 18px;
    margin-bottom: 0;
    text-transform: none; }
    .form-bottom p a {
      text-decoration: underline;
      color: #ca3a52; }
  .form-bottom .text-big {
    font-size: 22px;
    font-weight: bold; }

.payment-steps {
  max-width: 720px;
  width: 100%;
  margin: 0 auto 90px auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .payment-steps-item {
    text-align: center;
    position: relative;
    width: 195px; }
    .payment-steps-item:last-child:after {
      display: none; }
    .payment-steps-item:first-child:after {
      background: #ca3a52; }
    .payment-steps-item.finish:after {
      background: #ca3a52; }
    .payment-steps-item:after {
      content: '';
      width: 90px;
      height: 4px;
      background: #fff;
      position: absolute;
      top: 20px;
      left: 100%;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0); }
    .payment-steps-item p {
      margin-top: 20px;
      font-size: 18px; }

.security {
  padding: 70px 0 55px 0; }
  .security-block {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .security-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 49%; }
    .security-item h3 {
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase; }
    .security-item-text {
      margin-left: 24px; }
      .security-item-text p {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 300; }

.sc1 {
  width: 50px; }

.sc2 {
  width: 60px; }

.payment-method {
  width: 450px;
  margin: 0 auto; }
  .payment-method-item {
    text-align: center; }
    .payment-method-item a {
      margin: 20px auto 0 auto;
      width: 150px; }

.form-step2 p {
  margin-bottom: 22px; }

.form-finish p {
  font-size: 20px;
  text-transform: none;
  margin-bottom: 25px; }
  .form-finish p:last-child {
    margin-bottom: 100px; }

.payment .form-step3 {
  padding: 140px 65px 70px 65px; }

.form-error .form-finish p:first-child {
  margin-bottom: 60px; }

/*DASHBOARD*/
.dashboard {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

body.cust {
  background: #fff; }

.dashboard-sidebar {
  min-width: 250px;
  background: #222328;
  height: 100vh; }
  .dashboard-sidebar .logo {
    padding: 10px 0 10px 0;
    display: block;
    margin: 0 auto;
    text-align: center; }
    .dashboard-sidebar .logo object {
      max-width: 165px;
      width: 100%; }

.sidebar-menu {
  list-style: none;
  border-top: 1px solid #313d4f;
  padding: 25px 0 15px 35px; }
  .sidebar-menu li {
    margin-bottom: 10px;
    font-size: 16px;
    position: relative; }
    .sidebar-menu li.sidebar-menu-title {
      font-size: 18px;
      margin-bottom: 20px; }
    .sidebar-menu li.hidden a {
      color: rgba(255, 255, 255, 0.15); }
    .sidebar-menu li.active:before {
      content: '';
      width: 7px;
      height: 7px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #ca3a52;
      position: absolute;
      top: 4px;
      left: -14px; }

.dashboard-content {
  padding: 0 80px 30px 80px;
  width: 100%; }

.dashboard-top {
  padding: 35px 0 30px 0;
  color: #222328;
  font-size: 18px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .dashboard-top a {
    color: #222328;
    text-decoration: underline;
    margin-left: 55px; }

/*RESPONSIVE*/
@media (max-width: 1199px) {
  .container {
    width: 992px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px; }
    .container-min {
      width: 100%; }
  .history-left {
    min-width: 300px; }
    .history-left img {
      width: 100%; }
  .history-bottom .quote {
    left: 220px; }
  h2 {
    font-size: 30px; }
  .logo object {
    width: 200px; }
  .btn-default {
    width: 180px;
    height: 46px; }
  .top-link a {
    font-size: 14px; }
  .services-items p {
    font-size: 18px;
    line-height: 24px; }
  .services-bottom li .number {
    font-size: 55px;
    margin-right: 15px; }
  .services-bottom li p {
    font-size: 13px; }
  .history .h2 h2 {
    padding-left: 20px; }
  .programs-plan {
    margin-bottom: 90px;
    margin-top: 110px; }
  .programs-whome-list li p {
    margin-left: 26px; }
  .you-get-list {
    padding-left: 55px; }
    .you-get-list li {
      margin-bottom: 55px; }
      .you-get-list li p {
        margin-left: 25px; }
  .footer-link a {
    margin-right: 15px;
    font-size: 13px;
    margin-left: 0; }
  .photos-block li:nth-child(1) {
    left: 40px; }
  .photos-block li:nth-child(2) {
    max-width: 285px; }
  .photos-block li:nth-child(3) {
    right: 0;
    max-width: 345px; }
  .photos-block li:nth-child(4) {
    left: 0; }
  .photos-block li:nth-child(5) {
    left: 80px; }
  .photos-block li:nth-child(6) {
    right: 200px; }
  .photos-more {
    right: 15px; }
    .photos-more p {
      font-size: 15px; }
  .payment .input-group input {
    width: 210px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; }
  .top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .top-btn {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 30px; }
  .about {
    padding-bottom: 75px; }
  h1 {
    font-size: 42px;
    line-height: 60px; }
  .about .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about h2 {
    margin-bottom: 65px; }
  h2 {
    margin-left: 0; }
  .about-left {
    margin-right: 0;
    margin-bottom: 50px; }
  .services h2 {
    margin-bottom: 65px; }
  .services-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .services-items li {
      width: 33.33%;
      margin-bottom: 20px; }
  .services-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .services-bottom li {
      width: 50%; }
  .history .container-min {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .history-left {
    width: 100%;
    text-align: center; }
    .history-left img {
      margin-bottom: 35px;
      position: static;
      max-width: 365px; }
  .programs {
    padding-top: 70px; }
    .programs h2 {
      margin-left: 0; }
    .programs .quote {
      margin-left: 0;
      width: 100%; }
  .programs-item li p {
    font-size: 14px;
    margin-left: 25px;
    margin-left: 8px; }
  .programs-whome-left .whome-note {
    font-size: 20px; }
  .plan-wrap .plan-item {
    padding: 40px 30px 45px 30px; }
  .how-works-list p {
    font-size: 16px;
    line-height: 28px; }
  .you-get-list:first-child {
    padding-left: 0; }
  .you-get-list li p {
    font-size: 14px;
    line-height: 24px; }
  .you-get {
    padding: 75px 0 50px 0; }
  .footer-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-line:last-child .footer-left {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin: 20px 0 0 0; }
  .footer-left {
    margin-bottom: 20px; }
  .photos-block li:nth-child(1) {
    left: 0; }
  .photos-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: auto; }
    .photos-block li {
      position: static;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      margin-bottom: 15px; }
      .photos-block li:nth-child(2) {
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0); }
  .photos-more {
    position: static;
    margin-top: 20px; }
  .steps-line svg {
    margin-left: 0; }
  .services-bottom {
    width: 80%;
    margin: 90px auto 0 auto; }
  .photos {
    padding: 80px 0; }
  .input-group input {
    width: 180px; }
  .modal-form {
    padding: 100px 50px 60px 50px; }
  .input-group {
    margin-left: 10px; }
  .modal-form .input-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .modal-form .input-block .input-group {
      margin-bottom: 20px; }
  .security-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .security-item {
    width: 100%;
    margin-bottom: 40px; }
  .sc1 {
    margin-right: 10px; } }

@media (max-width: 767px) {
  .container {
    width: 100%; }
  .top {
    display: none; }
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-contacts a {
    display: block;
    margin: 20px 0 0 0; }
  .socials {
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 115px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .socials a {
      margin: 0; }
  .footer-link a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0; }
  .footer-right .develop {
    margin-right: 0;
    margin-bottom: 10px; }
  .photos-more p {
    margin-left: 0;
    margin-top: 25px; }
  .photos-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .photos-block li:nth-child(1),
  .photos-block li:nth-child(2),
  .photos-block li:nth-child(3),
  .photos-block li:nth-child(4),
  .photos-block li:nth-child(5),
  .photos-block li:nth-child(6) {
    width: 100%;
    max-width: 100%; }
  .you-get-list {
    padding-left: 0; }
  .how-works-list li {
    width: 100%;
    margin-bottom: 130px; }
    .how-works-list li:last-child {
      margin-bottom: 0; }
  .how-works-list li:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    display: block;
    left: 0;
    position: static;
    margin: 60px auto -50px auto; }
  .how-works-list p {
    font-size: 18px; }
  .plan-wrap {
    width: 100%; }
  .plan-wrap:hover .plan-item {
    position: relative; }
  .programs-whome-left,
  .programs-whome-right {
    width: 100%; }
  .programs-block {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  h2 {
    font-size: 24px; }
  .services-bottom {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 50px auto 0 auto; }
    .services-bottom li {
      margin-bottom: 20px; }
  .services-items li {
    width: 100%;
    font-size: 20px;
    line-height: 28px; }
  .steps-line {
    display: none; }
  .history-bottom .quote,
  .steps-text {
    display: none; }
  .history .h2 h2 {
    margin-left: 100px; }
  .history .h2 .line {
    display: none; }
  .history-left img {
    border-bottom: 6px solid #ca3a52; }
  .steps, .history-bottom {
    display: none; }
  .steps-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 100px; }
    .steps-mobile .h2 {
      position: absolute;
      margin-left: 0px; }
      .steps-mobile .h2 h2 {
        font-size: 30px;
        margin-left: 60px;
        margin-top: 30px; }
  .history-left img {
    margin-bottom: 0; }
  h1 {
    font-size: 30px;
    line-height: 46px; }
  .about-left img {
    width: 100%; }
  .services-bottom li {
    width: 100%; }
  .modal-form {
    width: 310px;
    padding: 100px 10px 60px 10px; }
  .input-group {
    margin: 0 0 15px 0; }
  .modal-form .input-block {
    margin-bottom: 30px; }
  .modal-form > p {
    margin-bottom: 35px; }
  .history {
    overflow: hidden; }
  .services {
    padding-bottom: 50px; }
  .programs-whome-list li p,
  .you-get-list li p {
    margin-left: 15px; }
  .programs-plan {
    margin-top: 60px; }
  .programs-item li p span,
  .whome-note span,
  .programs-whome-list li p span,
  .you-get-list li p span {
    display: inline; }
  .payment .top {
    display: block; }
  .payment-steps-item {
    width: 100%; }
  .payment .modal-form {
    width: 100%; }
  .m-step2 .payment-steps-item:after {
    display: none; }
  .m-step1 .payment-steps-item:nth-child(2),
  .m-step1 .payment-steps-item:nth-child(3) {
    display: none; }
  .modal-form .input-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hidden-lg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .payment .modal-form {
    padding: 40px 15px 40px 15px; }
  .security-item-text p {
    margin-left: -80px; }
  .security-item h3 {
    font-size: 18px;
    line-height: 28px; }
  .hidden-sm {
    display: none; }
  .payment-method-item {
    margin-bottom: 50px; }
  .payment-method {
    width: 100%; }
  .m-step3 .payment-steps-item {
    margin-bottom: 110px; }
    .m-step3 .payment-steps-item:after {
      content: '';
      width: 4px;
      height: 50px;
      background: #ca3a52;
      display: block;
      margin: 20px auto -80px auto;
      position: static; }
    .m-step3 .payment-steps-item:last-child {
      margin-bottom: 60px; }
      .m-step3 .payment-steps-item:last-child:after {
        display: none; }
  .m-step3 {
    margin-bottom: 0; } }

@media (max-width: 400px) {
  .mobile-svg {
    margin-right: -60px; } }
