@font-face
	font-family: 'ProximaNova-Bold'
	src: url('../fonts/ProximaNova-Bold.otf')

@font-face
	font-family: 'Raleway'
	src: url('../fonts/Raleway-Bold.ttf')
	font-weight: normal


*
	margin: 0
	padding: 0

body
	font-size: 16px
	color: #fff 
	font-family: 'Montserrat'
	background: #222328

a 
	text-decoration: none
	color: #fff

.container
	width: 1170px
	box-sizing: border-box
	margin: 0 auto

.container-min
	width: 1060px
	box-sizing: border-box
	margin: 0 auto

p 
	font-size: 16px
	line-height: 28px

ul 
	list-style: none

.flex
	display: flex
	align-items: center

.sb 
	justify-content: space-between

.btn-default 
	height: 48px
	width: 200px
	border-radius: 30px
	display: flex
	justify-content: center
	font-size: 14px
	font-weight: 600
	align-items: center
	background-color: rgba(160,6,14,1)
	background: linear-gradient(to right, rgba(220, 105, 151, 1) 0%, rgba(160, 6, 14, 1) 100%)

.text-block
	display: block

$black: #222328
$pink: #ca3a52

.text-pink
	color: $pink

h1
	font-size: 48px
	font-family: 'Montserrat'
	font-weight: normal
	text-transform: uppercase
	line-height: 70px
	margin-bottom: 100px
	span:after 
		content: ''
		width: 215px
		height: 4px
		background: $pink
		display: block
		margin: 0 auto 0 auto

h2 
	font-size: 36px
	color: #fff
	text-transform: uppercase
	font-family: 'ProximaNova-Bold'
	border-left: 4px solid $pink
	padding-left: 15px
	margin-left: 170px

/*HEADER*/

.header
	background: $black url('../img/bg1.png') no-repeat
	background-position: top center
	height: 100vh

	padding-top: 60px

.top-link li:first-child
	margin-right: 40px

.top-btn a:first-child
	margin-right: 22px

.header-content
	text-align: center
	margin: 115px 0 0 0
	.note 
		line-height: 28px
		margin-bottom: 35px
		font-weight: 300

.btn-scroll-down
	display: inline-block
	cursor: pointer
	position: absolute
	bottom: 30px
	left: 50%
	transform: translate(-50%,0)

/*ABOUT*/

.about
	background: $black
	padding: 40px 0 115px 0
	h2 
		margin-bottom: 100px
	&-left 
		margin-right: 80px
	&-right 
		span 
			font-size: 18px
			font-family: 'Raleway'
			font-weight: bold
		p 
			margin-top: 20px

/*SERVICES*/

.services
	background: $black
	padding-bottom: 105px
	h2 
		margin-bottom: 100px

.services-items
	align-items: flex-start
	&-img 
		height: 100px
		display: flex 
		justify-content: center
		align-items: center
	p 
		font-weight: bold
		font-family: 'Raleway'
		text-align: center
		font-size: 20px


.services-bottom
	margin-top: 90px
	li 
		display: flex 
		align-items: center
		.number 
			font-size: 62px
			font-weight: bold
			margin-right: 20px
		p 
			font-size: 14px
			line-height: normal
			text-transform: uppercase

/*HISTORY*/

.history
	background: #fff
	color: $black
	padding-top: 65px
	.container-min
		align-items: flex-end
	.h2
		display: flex
		align-items: center
		width: 100%
		h2 
			color: $black
			font-family: 'Montserrat'
			font-weight: 400
			margin-left: 0
			width: 100%
			padding-left: 30px
			border: none
		.line
			content: ''
			width: 6px
			height: 190px
			background: $pink
			display: inline-block
	&-right 
		width: 100%
	&-left 
		line-height: 0
		min-width: 365px
		position: relative
		img 
			position: absolute
			bottom: 0
	

.steps
	width: 100%
	&-text 
		max-width: 320px
		width: 100%
		margin-left: 160px
		p
			visibility: hidden
			opacity: 0
			font-size: 0
			height: 0
			transition: opacity 1s
			&.active 
				visibility: visible
				opacity: 1
				height: auto
				font-size: 16px
				transition: opacity 1s
	&-line svg
		padding-top: 100px
		margin-left: -45px


.history-bottom
	position: relative
	.quote 
		position: absolute
		width: 460px
		left: 310px

.quote 
	font-size: 14px
	font-weight: 600
	font-style: italic
	width: 100%

/*STEP SVG*/

.hover
  cursor: pointer
  circle
  	transition: 0.5s
  &:hover circle
    r: 30
    transition: 1s

.text
  display: none

@keyframes dash
  to
    stroke-dashoffset: 0

.draw
  stroke-dasharray: 1000
  stroke-dashoffset: 1000
  fill: transparent
  &.active
    animation: dash2 1s cubic-bezier(0, 0, 1, 1) forwards, fill 1s linear forwards 0.2s

@keyframes dash2
  to
    stroke-dashoffset: 100px


@keyframes fill
  to
    fill: #000


.article-item
  visibility: hidden
  opacity: 0
  transition: opacity 1s
  font-size: 0
  &.active
    visibility: visible
    opacity: 1
    transition: opacity 1s
    font-size: 16px


/*PROGRAMS*/

.programs
	background: $black
	padding-top: 110px
	h2 
		margin: 0 0 30px 170px
	.quote 
		font-size: 14px
		color: #fff
		max-width: 750px
		width: 100%
		margin-left: 190px
		margin-bottom: 50px

.programs-item
	li 
		display: flex
		align-items: center	
		margin-bottom: 45px
		p 
			margin-left: 25px
			font-weight: bold
			font-family: 'Raleway'
			font-size: 20px
	&-img 
		width: 80px
		text-align: center

.programs-whome
	margin-top: 60px
	align-items: flex-start
	&-left 
		width: 47%
		.whome-note 
			font-size: 24px
			display: block
	&-right 
		width: 47%


.programs-whome-list
	li 
		display: flex
		align-items: center
		margin-top: 40px
		p 
			margin-left: 35px

.programs-plan
	margin-top: 145px
	align-items: flex-start
	margin-bottom: 120px
	position: relative


.plan-wrap 
	position: relative
	width: 33.33%
	.plan-item
		background: #26272d
		padding: 40px 40px 45px 40px
		box-sizing: border-box
		transition: 0.3s
		text-align: center
	.btn-default 
		margin: 0 auto 30px auto
	&:hover 
		.plan-item
			position: absolute
			box-shadow: 0px 13px 65px 0px rgba(0,0,0,0.33)
			z-index: 2
			transition: 0.3s


.plan-title
	margin-top: 25px
	margin-bottom: 20px
	h3 
		font-size: 28px
		font-weight: normal
		margin-bottom: 10px
.plan-price
	p
		font-size: 18px
		b 
			font-size: 26px
			font-weight: 600	
.plan-text
	margin-bottom: 30px
	p 
		height: 70px
		overflow: hidden
		line-height: normal
		font-size: 13px
		text-overflow: ellipsis
		transition: all 0.3s
		&.open 
			height: auto
			overflow: auto
			transition: all 0.3s

.plan-more
	color: #ededed
	font-size: 16px
	text-transform: uppercase
	display: flex
	align-items: center
	justtify-content: space-between
	display: inline-block
	span 
		margin-right: 5px
	&.active object 
		transform: rotate(180deg)

.plan-list
	border: 3px solid $pink
	background: #fff
	position: absolute
	width: 100%
	top: 100%
	left: 0
	z-index: 3
	color: #222328
	font-size: 14px
	padding: 45px
	box-sizing: border-box
	display: none
	&.active
		display: flex

.plan-list-column
	width: 30%

.plan-list-item 
	p
		font-size: 18px
		font-weight: bold
		margin-bottom: 15px
		color: #000
	ul 
		margin-bottom: 25px
		li 
			margin-bottom: 15px

.step1.hide
	color: #888888

.step2.show
	color: #000

.step3.show
	color: #000















/*HOW WORKS*/

.how-works 
	padding-bottom: 100px
	h3
		text-align: center
		font-weight: 300
		margin-bottom: 60px

.how-works-list
	text-align: center
	justify-content: space-around
	li
		position: relative
		width: 25%
		&:after 
			content: ''
			width: 50px
			height: 4px
			background: #fff 
			position: absolute
			left: 100%
			top: 28px
			transform: translate(-50%,0)
		&:last-child:after 
			display: none
	p 
		font-size: 20px
		font-weight: bold
		font-family: 'Raleway'
		line-height: 36px
		margin-top: 30px

/*YOU GET*/

.you-get
	background: #fff
	padding: 100px 0 90px 0
	h2 
		margin-bottom: 75px
		color: $black
	.flex
		align-items: flex-start
.you-get-list
	padding-left: 80px
	box-sizing: border-box
	li 
		color: $black
		display: flex
		align-items: center
		margin-bottom: 70px
		p 
			margin-left: 35px
			font-family: 'Raleway'
			font-weight: 600

/*PHOTOS*/

.photos
	background: $black
	padding: 140px 0 155px 0
	.container
		position: relative
	&-more
		position: absolute
		top: 310px
		right: 0
		p 
			margin-left: 20px
		a 
			border-bottom: 1px solid $pink

.photos-block
	position: relative
	height: 750px
	li 
		position: absolute
		&:nth-child(1)
			top: 0
			left: 100px
			max-width: 203px
			width: 100%
		&:nth-child(2)
			top: 150px
			left: 50%
			max-width: 333px
			width: 100%
			transform: translate(-70%, 0)
		&:nth-child(3)
			top: 0
			right: 30px
			max-width: 400px
			width: 100%
		&:nth-child(4)
			top: 240px
			left: 40px
			max-width: 244px
			width: 100%
		&:nth-child(5)
			top: 520px
			left: 170px
			max-width: 245px
			width: 100%
		&:nth-child(6)
			top: 520px
			right: 330px
			max-width: 235px
			width: 100%
		img 
			width: 100%


/*MODAL FORM*/

.submit[disabled="disabled"]
		cursor: default

.overflow
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(34,35,40, 0.55)
	z-index: 10
	display: none

.modal-form
	background: #26272d
	padding: 140px 95px 60px 95px
	box-sizing: border-box
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	z-index: 11
	color: #fff
	p 
		font-size: 18px
		text-transform: uppercase
		font-weight: 300
		margin-bottom: 65px
		text-align: center
	.input-block
		width: 100%
		margin-bottom: 60px
	button 
		border: none 
		outline: none
		color: #fff
		margin: 0 auto 40px auto
		cursor: pointer

.input-group
	margin-left: 30px
	&:first-child
		margin-left: 0
	input
		display: block
		height: 42px
		border-radius: 3px
		border: 1px solid #808184
		background: #50525f
		width: 255px
		outline: none
		box-sizing: boeder-box
		padding: 0 10px
		font-size: 18px
		font-weight: 300
		color: #fff
	label 
		margin: 0 0 10px 5px
		display: block

.check
	display: flex
	align-items: center
	justify-content: center
	input
		display: none
		&:checked + label
			background: url('../img/check2.png') no-repeat
	label 
		background: url('../img/check.png') no-repeat
		width: 24px
		height: 24px
		cursor: pointer
	p 
		font-size: 12px
		text-transform: none
		margin-bottom: 0
		margin-left: 20px
		a 
			border-bottom: 1px solid $pink



/*FOOTER*/

.footer 
	background: #26272d
	padding: 25px 0 40px 0

.footer-contacts
	a 
		margin-left: 30px

.footer-right
	align-items: center
	.develop
		margin-right: 5px
		a 
			span 
				text-decoration: underline

.footer-line:first-child
	margin-bottom: 40px

.socials
	display: flex
	align-items: flex-start
	a 
		margin-left: 25px
		svg 
			cursor: pointer

.copy
	font-size: 14px

.footer-link
	font-size: 14px
	a 
		margin-left: 22px

.steps-mobile
	display: none
	position: relative
	.line
		width: 4px
		height: 800px
		background: #000
		margin-left: 35px

.mobile-svg
	margin-left: -35px
	width: 400px
	height: 800px
	.leave path
		transform: rotate(90deg)
		transform-origin: 50% 50%
.steps-text-m
	
	p
		position: absolute
		width: 255px
		&:first-child
			top: 265px
			left: 55px
		&:nth-child(2)
			top: 500px
			left: 55px
		&:nth-child(3)
			top: 750px
			left: 55px


/*PAYMENTS*/

.payment 
	background: url('../img/p-bg.png') no-repeat
	background-position: center top
	padding-top: 70px
	.modal-form
		position: static
		transform: none
		padding: 70px 95px 70px 95px
	.top
		margin: 0 auto 0 auto
		text-align: center
		.note
			margin-top: 70px
			margin-bottom: 50px
			font-size: 18px
			text-transform: uppercase

.form-bottom
	margin-top: 30px
	p 
		font-size: 18px
		margin-bottom: 0
		text-transform: none
		a 
			text-decoration: underline
			color: $pink
	.text-big 
		font-size: 22px 
		font-weight: bold

.payment-steps
	max-width: 720px
	width: 100%
	margin: 0 auto 90px auto
	align-items: flex-start
	&-item 
		text-align: center
		position: relative
		width: 195px
		&:last-child:after
			display: none
		&:first-child:after
			background: $pink
		&.finish:after
			background: $pink
		&:after
			content: ''
			width: 90px
			height: 4px
			background: #fff
			position: absolute
			top: 20px
			left: 100%
			transform: translate(0, 0)
		p 
			margin-top: 20px
			font-size: 18px
		
.security
	padding: 70px 0 55px 0
	&-block 
		align-items: flex-start
	&-item 
		display: flex
		align-items: flex-start
		width: 49%
		h3 
			font-size: 24px
			font-weight: 300
			text-transform: uppercase
		&-text 
			margin-left: 24px
			p 
				margin-top: 25px
				font-size: 18px
				font-weight: 300

.sc1
	width: 50px
.sc2
	width: 60px

.payment-method
	width: 450px
	margin: 0 auto
	&-item 
		text-align: center
		a 
			margin: 20px auto 0 auto
			width: 150px

.form-step2 p 
	margin-bottom: 22px

.form-finish
	p 
		font-size: 20px
		text-transform: none
		margin-bottom: 25px
		&:last-child
			margin-bottom: 100px

.payment .form-step3
	padding: 140px 65px 70px 65px

.form-error
	.form-finish p:first-child
		margin-bottom: 60px


/*DASHBOARD*/

.dashboard
	align-items: flex-start

body.cust
	background: #fff

.dashboard-sidebar
	min-width: 250px
	background: $black
	height: 100vh
	.logo 
		padding: 10px 0 10px 0
		display: block
		margin: 0 auto
		text-align: center
		object
			max-width: 165px
			width: 100%

.sidebar-menu
	list-style: none
	border-top: 1px solid #313d4f
	padding: 25px 0 15px 35px
	li 
		margin-bottom: 10px
		font-size: 16px
		position: relative
		&.sidebar-menu-title
			font-size: 18px
			margin-bottom: 20px
		&.hidden a
			color: rgba(255,255,255,0.15)
		&.active:before
			content: ''
			width: 7px 
			height: 7px 
			border-radius: 50%
			background: $pink
			position: absolute
			top: 4px
			left: -14px


.dashboard-content
	padding: 0 80px 30px 80px
	width: 100%

.dashboard-top
	padding: 35px 0 30px 0
	color: $black
	font-size: 18px
	justify-content: flex-end
	a
		color: $black
		text-decoration: underline
		margin-left: 55px











/*RESPONSIVE*/

@media(max-width: 1199px)
	.container
		width: 992px
		box-sizing: border-box
		padding: 0 15px
		&-min 
			width: 100%
	.history-left
		min-width: 300px
		img 
			width: 100%
	.history-bottom .quote
		left: 220px
	h2
		font-size: 30px
	.logo object 
		width: 200px
	.btn-default
		width: 180px
		height: 46px
	.top-link a 
		font-size: 14px
	.services-items p
		font-size: 18px
		line-height: 24px
	.services-bottom li 
		.number
			font-size: 55px
			margin-right: 15px
		p 
			font-size: 13px
	.history .h2 h2
		padding-left: 20px
	.programs-plan
		margin-bottom: 90px
		margin-top: 110px
	.programs-whome-list li p
		margin-left: 26px
	.you-get-list
		padding-left: 55px
		li 
			margin-bottom: 55px
			p 
				margin-left: 25px
	.footer-link a
		margin-right: 15px
		font-size: 13px
		margin-left: 0
	.photos-block li:nth-child(1)
		left: 40px
	.photos-block li:nth-child(2)
		max-width: 285px
	.photos-block li:nth-child(3)
		right: 0
		max-width: 345px
	.photos-block li:nth-child(4)
		left: 0
	.photos-block li:nth-child(5)
		left: 80px
	.photos-block li:nth-child(6)
		right: 200px
	.photos-more
		right: 15px
		p 
			font-size: 15px
	.payment .input-group input
		width: 210px

@media(max-width: 991px)
	.container
		width: 750px
	.top 
		flex-flow: row wrap
		&-btn 
			width: 100%
			justify-content: center
			margin-top: 30px
	.about
		padding-bottom: 75px
	h1 
		font-size: 42px
		line-height: 60px
	.about 
		.flex
			flex-direction: column
		h2
			margin-bottom: 65px
	h2 
		margin-left: 0
	.about-left
		margin-right: 0
		margin-bottom: 50px
	.services h2
		margin-bottom: 65px
	.services-items
		flex-flow: row wrap
		li 
			width: 33.33%
			margin-bottom: 20px
	.services-bottom
		flex-flow: row wrap
		li 
			width: 50%
	.history .container-min
		flex-direction: column
	.history-left 
		width: 100%
		text-align: center
		img
			margin-bottom: 35px
			position: static
			max-width: 365px
	.programs 
		padding-top: 70px
		h2
			margin-left: 0
		.quote
			margin-left: 0
			width: 100%
	.programs-item 
		li 
			p
				font-size: 14px
				margin-left: 25px
				margin-left: 8px
	.programs-whome-left .whome-note
		font-size: 20px
	.plan-wrap .plan-item
		padding: 40px 30px 45px 30px
	.how-works-list p
		font-size: 16px
		line-height: 28px
	.you-get-list:first-child
		padding-left: 0
	.you-get-list li p
		font-size: 14px
		line-height: 24px
	.you-get
		padding: 75px 0 50px 0
	.footer-line
		flex-direction: column
		&:last-child
			.footer-left
				order: 1
				margin: 20px 0 0 0
	.footer-left
		margin-bottom: 20px
	.photos-block li:nth-child(1)
		left: 0
	.photos-block
		display: flex
		justify-content: space-around
		flex-flow: row wrap
		height: auto
		li
			position: static
			transform: translate(0,0)
			margin-bottom: 15px
			&:nth-child(2)
				transform: translate(0,0)
	.photos-more
		position: static
		margin-top: 20px
	.steps-line svg
		margin-left: 0
	.services-bottom
		width: 80%
		margin: 90px auto 0 auto
	.photos
		padding: 80px 0
	.input-group input
		width: 180px
	.modal-form
		padding: 100px 50px 60px 50px
	.input-group
		margin-left: 10px
	.modal-form .input-block
		flex-flow: row wrap 
		justify-content: center
		.input-group
			margin-bottom: 20px
	.security-block
		flex-direction: column
	.security-item
		width: 100%
		margin-bottom: 40px
	.sc1
		margin-right: 10px

@media(max-width: 767px)
	.container
		width: 100%
	.top
		display: none
	.flex
		flex-flow: row wrap
		flex-direction: column
	.footer-contacts a
		display: block
		margin: 20px 0 0 0
	.socials
		margin-top: 25px
		display: flex
		width: 115px
		justify-content: space-between
		a 
			margin: 0
	.footer-link a
		display: block
		text-align: center
		margin-bottom: 20px
		margin-right: 0
	.footer-right .develop
		margin-right: 0
		margin-bottom: 10px
	.photos-more 
		p
			margin-left: 0
			margin-top: 25px
	.photos-block
		flex-direction: column
	.photos-block li:nth-child(1),
	.photos-block li:nth-child(2),
	.photos-block li:nth-child(3),
	.photos-block li:nth-child(4),
	.photos-block li:nth-child(5),
	.photos-block li:nth-child(6)
		width: 100%
		max-width: 100%
	.you-get-list
		padding-left: 0
	.how-works-list li
		width: 100%
		margin-bottom: 130px
		&:last-child
			margin-bottom: 0
	.how-works-list li:after
		transform: rotate(90deg)
		display: block
		left: 0
		position: static
		margin: 60px auto -50px auto
	.how-works-list p
		font-size: 18px
	.plan-wrap
		width: 100%
	.plan-wrap:hover .plan-item
		position: relative
	.programs-whome-left,
	.programs-whome-right
		width: 100%
	.programs-block
		align-items: flex-start
	h2 
		font-size: 24px
	.services-bottom
		align-items: flex-start
		margin: 50px auto 0 auto
		li 
			margin-bottom: 20px
	.services-items li
		width: 100%
		font-size: 20px
		line-height: 28px
	.steps-line
		display: none
	.history-bottom .quote,
	.steps-text
		display: none
	.history .h2 
		h2 
			margin-left: 100px
		.line
			display: none
	.history-left img
		border-bottom: 6px solid $pink
	.steps, .history-bottom
		display: none
	.steps-mobile
		display: flex
		padding-bottom: 100px
		.h2 
			position: absolute
			margin-left: 0px
			h2 
				font-size: 30px
				margin-left: 60px
				margin-top: 30px
	.history-left img
		margin-bottom: 0
	h1
		font-size: 30px
		line-height: 46px
	.about-left
		img 
			width: 100%
	.services-bottom li
		width: 100%
	.modal-form
		width: 310px
		padding: 100px 10px 60px 10px
	.input-group
		margin: 0 0 15px 0
	.modal-form 
		.input-block
			margin-bottom: 30px
		>p 
			margin-bottom: 35px
	.history
		overflow: hidden
	.services
		padding-bottom: 50px
	.programs-whome-list li p,
	.you-get-list li p
		margin-left: 15px
	.programs-plan
		margin-top: 60px
	.programs-item li p span,
	.whome-note span,
	.programs-whome-list li p span,
	.you-get-list li p span
		display: inline
	.payment .top 
		display: block
	.payment-steps-item
		width: 100%
	.payment .modal-form
		width: 100%
	.m-step1 .payment-steps-item:first-child:after
	.m-step2 .payment-steps-item:after
		display: none
	.m-step1 .payment-steps-item:nth-child(2),
	.m-step1 .payment-steps-item:nth-child(3)
		display: none
	.modal-form .input-block
		flex-direction: column
	.hidden-lg
		display: flex
	.payment .modal-form
		padding: 40px 15px 40px 15px
	.security-item-text p
		margin-left: -80px
	.security-item h3
		font-size: 18px
		line-height: 28px
	.hidden-sm
		display: none
	.payment-method-item
		margin-bottom: 50px
	.payment-method
		width: 100%
	.m-step3 .payment-steps-item
		margin-bottom: 110px
		&:after 
			content: ''
			width: 4px
			height: 50px 
			background: $pink
			display: block
			margin: 20px auto -80px auto
			position: static
		&:last-child
			margin-bottom: 60px
			&:after
				display: none
	.m-step3
		margin-bottom: 0


@media(max-width: 400px)
	.mobile-svg
		margin-right: -60px